{% extends 'coordenador_base.html' %}
{% block coord %}
<div class="heading-block fancy-title nobottomborder">
    <table class="table">
        <tr>
            <td width="90%"><h4>Autorizações - {{evento.nome}}</h4></td>
            <td>
                {% if autorizacoes %}
                <div class="btn-group">
                    <button type="button" class="button button-small button-border button-rounded
                     button-blue dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Relatórios
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'autorizacao-print' 0 evento.pk %}" target="_blank">Autorizados</a>
                        <a class="dropdown-item" href="{% url 'autorizacao-print' 1 evento.pk %}" target="_blank">Negados</a>
                        <a class="dropdown-item" href="{% url 'autorizacao-print' 2 evento.pk %}" target="_blank">Pendentes</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'autorizacao-print' 3 evento.pk %}" target="_blank">Todas</a>
                    </div>
                </div>
                {% endif %}
            </td>
        </tr>
    </table>
</div>

<div class="container mw-md">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Aluno</th>
                    <th>Status</th>
                    <th>Data recebimento</th>
                </tr>
            </thead>
            <tbody>
                {% for e in autorizacoes %}
                <tr>
                    <td>{{e.aluno}}</td>
                    {% if e.autorizado == "Autorizado" %}
                    <td style="color:#2ecc71">
                    {% elif e.autorizado == "Pendente" %}
                    <td style="color:#D2691E">
                    {% elif e.autorizado == "Negado" %}
                    <td style="color:#B22222">
                    {% endif %}
                        {{e.autorizado}}
                    </td>
                    <td>{{e.data_modificacao}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">Sem dados para exibir</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}