{% extends 'coordenador_base.html' %}
{% block coord %}
<div class="heading-block fancy-title nobottomborder">
    <table class="table">
        <tr>
            <td width="90%"><h4>Alterar Evento {{object.nome}}</h4></td>
            <td align="right"><a href="{% url 'index' %}" class="button button-border button-rounded button-red" disabled="disabled">Cancelar</a></td>
        </tr>
    </table>
</div>

<div class="container mw-md">
    <!-- Form Evento -->
    <div class="col-lg-12 pl-lg-5 just-text">
        <h3>Alterar evento</h3>

        <form class="row" id="form-eventos" method="post" action="#" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-process">
                <div class="css3-spinner">
                    <div class="css3-spinner-scaler"></div>
                </div>
            </div>
            <div class="col-6 form-group">
                <input type="text" name="nome" id="eventos-nome" class="form-control" value="{{ object.nome }}" required>
            </div>
            <div class="col-6 form-group">
                <input type="text" value="{{ object.data_evento|date:'d/m/Y' }}" name="data_evento" id="eventos-data" class="form-control text-start component-datepicker
                default" equired autocomplete="off">
            </div>
            <div class="col-12 form-group">
                <textarea name="descricao" id="eventos-descricao" class="form-control" cols="30" rows="5"
                          maxlength="1000" minlength="20"
                style="resize: none;" onkeyup="countChar(this)" required>{{ object.descricao }}</textarea>
                <div id="charNum">1000</div>
            </div>

            <div class="divider" style="margin: 1rem;"></div>
            <div class="col-12 d-none">
                <input type="text" id="eventos-botcheck" name="eventos-botcheck" value="" />
            </div>
            <div class="col-12">
                <button type="submit" name="eventos-submit" id="eventos-submit" class="button button-border button-rounded button-blue">Alterar</button>
                <a href="#" class="button button-border button-rounded button-red" style="float: right;"
                       data-bs-toggle="modal" data-bs-target="#modal_delete_evento">Excluir</a>
            </div>

            <input type="hidden" name="prefix" value="jobs-" />
        </form>
    </div>

    {% include 'evento_deletion_modal.html' %}

</div>

{% endblock %}