{% extends 'email/base_email.html' %}
{% block content %}

<div class="fancy-title title-bottom-border">
    <h2 class="b-text">Solicitação de cadastro no Sistema ND Box</h2>
</div>
<p class="b-text">Foi solicitado o acesso ao sistema, com os dados abaixo</p>
<ul>
    <li class="b-text">Nome: {{name}}</li>
    <li class="b-text">E-mail: {{email}}</li>
</ul>

<p class="b-text">
    A solicitação está sendo tratada pelo sistema de registro. Você e o solicitante serão comunicados quando o acesso
    for autorizado.
</p>
<p class="b-text">
    Esta é uma mensagem automática, não responda. Para maiores informações, envie mensagem para tecnologia@nd.org.br
</p>
<br>
<br>
<h3 class="b-text">Sistema ND Box</h3>
<p class="b-text">Associação Notre Dame</p>

{% endblock %}